<div class="w-auto mx-32 my-8 bg-white">
  <div class="justify-end items-center gap-1.5 inline-flex">
    <div class="w-8 h-8 relative">
      <img src="assets/images/hryvna-sign.svg" alt="hryvna sign" />
    </div>
    <div class="text-zinc-800 text-3xl font-medium leading-normal">Фінанси</div>
  </div>
  <div class="w-auto h-1 color-zinc-800 bg-gradient-to-r from-black"></div>
  <div
    class="w-auto flex h-10 bg-gradient-to-r from-blue-50 rounded-lg items-center my-4"
  >
    <img
      class="mx-3"
      src="assets/images/graph-with-arrow.svg"
      alt="graph with arrow"
    />
    <div
      class="text-zinc-800 text-lg text-black font-medium leading-normal whitespace-nowrap"
    >
      Аналіз фінансової звітності
    </div>
  </div>
  <div
    [class]="
      'grid grid-flow-col row-start-auto auto-rows-auto row-end-auto divide-x grid-rows-' +
      typesOfFinData.length
    "
  >
    <app-info-tile
      class="px-0"
      *ngFor="let type of typesOfFinData; let i = index"
      [typeOfFinIndicator]="type"
    ></app-info-tile>
  </div>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-chart-bar text-s mr-2"></i>
        <span>ГРАФІК</span>
      </ng-template>
      <div *ngIf="data">
        <app-finance-graph [dataset]="data"></app-finance-graph>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-list text-s mr-2"></i>
        <span>СПИСОК</span>
      </ng-template>
      <div *ngIf="data">
        <app-finance-table [data]="data"></app-finance-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
<p-blockUI [blocked]="isLoading">
  <i class="pi pi-spin pi-spinner text-white text-7xl"></i>
</p-blockUI>
<router-outlet></router-outlet>
